.container {
  display: flex;
  justify-content: center;
  /* justify-content: flex-end; */
  /* flex-direction: column; */
  /* text-align: center; */

  /* align-self: center; */
}

.cell {
  height: 30px;
  width: 30px;
  background-color: #555;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s all;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

table {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  border-block: inherit;
  left: 40%;
  margin-left: -32px;
}

table,
th,
td {
  display: flex;

  border: 20px solid black;
}
h2 {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}

.ok {
  text-align: center;
  font-size: large;
}
h1 {
  display: flex;
  /* margin: 10px; */
  justify-content: center;
  justify-content: center;
}

#play {
  background-color: rgb(244, 235, 0); /* Green */
  border: none;
  color: black;
  padding: 70px 70px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  font-size: 23px;
  padding: 10px;
}

html {
  background: url(../img/path.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  position: fixed;
  left: 5px;
  right: 5px;
  bottom: 5px;
  height: 60px;
  width: 100%;
  background: #999;
}
